<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LeetCode{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/dracula.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/clike/clike.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exercises_styles.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <div class="header__container">
                <a href="{{ url_for('home') }}">
                    <figure class="svg">
                        <img src="{{ url_for('static', filename='images/home.svg') }}" alt="home">
                    </figure>
                </a>

                {% if session['username'] %}
                <a href="{{ url_for('logout') }}" class="logout__button" id="logout-button">Logout</a>

                <div class="session__container hidden">
                    <a href="{{ url_for('login_form', next=request.path) }}" class="login__button">Iniciar sesión</a>
                    <a href="{{ url_for('register_form', next=request.path) }}" class="register__button">Registrarse</a>
                </div>

                {% else %}
                <a href="{{ url_for('logout') }}" class="logout__button hidden" id="logout-button">Logout</a>

                <div class="session__container">
                    <a href="{{ url_for('login_form', next=request.path) }}" class="login__button">Iniciar sesión</a>
                    <a href="{{ url_for('register_form', next=request.path) }}" class="register__button">Registrarse</a>
                </div>
                {% endif %}

            </div>

            <div class="problems__nav">
                {% block problems_nav %}
                {% endblock %}
            </div>
        </header>

        <main>
            <aside class="aside__container">
                <div class="explainer__container">
                    <div class="section__title">
                        <p>Descripción</p>
                    </div>

                    <div class="explainer">
                        {% block explainer %}
                        <h1>Descripción del ejercicio</h1>
                        <p>Aquí va la descripción del ejercicio.</p>
                        {% endblock %}
                    </div>

                    <div class="explainer__footer"></div>
                </div>
            </aside>

            <section class="code__editor">
                <div class="exercise__content">

                    <div class="section__title">
                        <p>Code</p>

                        {% block solved_exercise %}
                        {% endblock %}
                    </div>

                    <div class="languages__select">
                        <select id="language-select">
                            <option value="python">Python</option>
                            <option value="java">Java</option>
                        </select>

                        <div class="reload__buttons">
                            {% if session['username'] %}
                                <button class="reload__last__button" id="reload-last-code-button">
                                    <figure title="Cargar código anterior">
                                        <img src="{{ url_for('static', filename='images/code.svg') }}" alt="reload code">
                                    </figure>
                                </button>
                            {% endif %}

                            <button class="reload__initial__button" id="reload-initial-code-button">
                                <figure title="Cargar código base">
                                    <img src="{{ url_for('static', filename='images/reload.svg') }}" alt="reload code">
                                </figure>
                            </button>
                        </div>
                    </div>


                    <textarea id="editor">
                        {% block initial_code %}

                        {% endblock %}
                        
                        <pre>
                            <code id="code">
        
                            </code>
                        </pre>
                    </textarea>

                    <div class="submit__buttons">
                        <button id="run-button">Ejecutar Código</button>
                        <button id="submit-button">Enviar Código</button>
                    </div>
                </div>

                <div class="output__area">
                    <div class="section__title">
                        <p>Test result</p>
                    </div>
                    <pre class="output__message">
                        <p class="output__line"><b>>_</b></p>
                    <!-- Output will be displayed here -->
                    </pre>
                </div>
            </section>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/exercises_script.js') }}"></script>
    
</body>

</html>