{% extends "exercises/exercise_base.html" %}

{% block title %}
    Ejercicio 1 - LeetCode
{% endblock %}

{% block problems_nav %}

    <a aria-disabled="true">
        <figure class="svg disabled">
            <img src="{{ url_for('static', filename='images/left.svg') }}" alt="Ejercicio anterior">
        </figure>
    </a>
    <a href="{{ url_for('exercise', exercise_id='2') }}">
        <figure class="svg clickable">
            <img src="{{ url_for('static', filename='images/right.svg') }}" alt="Ejercicio siguiente">
        </figure>
    </a>

{% endblock %}

{% block solved_exercise %}
    {% if progress_list is defined and progress_list|length > 0 %}
        {% set ns = namespace(is_solved=False) %}
        {% for progress in progress_list %}
            {% if progress.problem_id == 1 and progress.solved %}
                {% set ns.is_solved = True %}
            {% endif %}
        {% endfor %}

        {% if ns.is_solved %}
            <p style="color:green">Completado [✓]</p>
        {% endif %}
    {% endif %}
{% endblock %}


{% block explainer %}

    <h2 class="exercise__number" id="exercise-number" data-exercise="1">Ejercicio 1</h2>
    <h1 class="exercise__title">Determinar si un número es primo</h1>

    <article class="exercise__description">
        <p>Un número primo es un número natural que solo es divisible por 1 y por sí mismo.</p>
        <p><strong>Ejemplo:</strong> 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, etc.</p>
        <p>Escriba una función que determine si un número es primo o no. La función debe devolver
            <code>True</code> o <code>False</code> para cada caso de prueba.
        </p>
    </article>

    <article class="exercise__io">
        <h3>Entradas y salidas:</h3>
        <p><strong>Input:</strong> {{ problem.get_test_list() }}</p>
        <p><strong>Output:</strong> {{ problem.get_expected_output() }}</p>
    </article>

    <article class="metadata">
        <h3>Restricciones:</h3>
        <p><b>¿Se permite recursividad?</b> {{ 'Si' if problem.get_metadata().allow_recursion else 'No' }}</p>
        <p><b>Palabras clave no permitidas:</b> {{ ', '.join(problem.get_metadata().disallowed_keywords) }}</p>
    </article>

{% block initial_code %}
    {% set ns = namespace(last_python_code=None, last_java_code=None) %}

    {% if progress_list is defined and progress_list|length > 0 %}
        {% for progress in progress_list %}
            {% if progress.problem_id == 1 %}
                {% if progress.language == 'python' %}
                    {% set ns.last_python_code = progress.code %}
                {% elif progress.language == 'java' %}
                    {% set ns.last_java_code = progress.code %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div 
        id="initial-code-data" 
        data-python="{{ problem.get_initial_python_code() | tojson | forceescape }}" 
        data-java="{{ problem.get_initial_java_code() | tojson | forceescape }}"
        data-last-python-code="{{ ns.last_python_code | tojson | forceescape }}" 
        data-last-java-code="{{ ns.last_java_code | tojson | forceescape }}"
    >   
    </div>
{% endblock %}

{% endblock %}