* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
}

/* Header styles */

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #282c34;
    color: white;
    padding: 1rem 2rem;
}

.problems__nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem 0;
}

.svg {
    height: 32px;
    width: 32px;
}

.svg img {
    height: 100%;
    width: 100%;
}

.reload__buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.reload__last__button, .reload__initial__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.reload__last__button {
    height: 24px;
    width: 24px;
}

.reload__initial__button {
    height: 18px;
    width: 18px;
}

.reload__last__button:hover, .reload__initial__button:hover {
    scale: 1.1;
}

.reload__last__button img, .reload__initial__button img {
    height: 100%;
    width: 100%;
}

.disabled {
    opacity: 0.5;
}

.hidden {
    display: none;
}

.problems__nav {
    display: flex;
    align-items: center;
}

.clickable:hover {
    scale: 1.1;
}

.login__button {
    border: 1px solid #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
}

.login__button:hover {
    border: 1px solid #0069d9;
}

.register__button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
}

.register__button:hover {
    background-color: #0069d9;
}

.logout__button {
    border: 1px solid #b62828;
    color: #b62828;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
}

.logout__button:hover {
    border: 1px solid #962020;
}

/* Main styles */

main {
    display: flex;
    flex-direction: row;
    flex: 1; /* Takes the remaining space */
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.aside__container {
    display: flex;
    width: 30%; 
    padding: 1rem 0.5rem 1rem 1rem;
    height: 100%;
    min-width: 300px;
}

.explainer__container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 100%;
    flex: 1;
}

.explainer {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

.explainer__footer {
    height: 1rem;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
}

.code__editor {
    flex: 1; /* Takes the remaining width */
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 0.5rem;
    gap: 1rem;
    min-width: 300px;
}

.solution {
    flex: 1; /* Takes remaining space above output area */
}

.editor {
    border-radius: 8px;
    padding: 1rem;
}

.output__area {
    background-color: #f4f4f4;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.output__message {
    white-space: pre-wrap; /* Preserves whitespace and line breaks */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.output__line {
    
    margin-bottom: 0.5rem;
}

.output__success {
    color: #28a745;
}

.output__failure {
    color: #dc3545;
}

.exercise__number {
    font-size: 1.1rem;
    color: #6c757d; /* Color secundario */
    margin-bottom: 0.2rem;
    font-weight: 600; /* Ligera negrita */
}

.exercise__title {
    font-size: 2rem; /* Tamaño de fuente mayor */
    font-weight: bold;
    color: #343a40; /* Color oscuro */
    margin-bottom: 1.5rem;
}

.exercise__description {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.exercise__io, .metadata {
    background-color: #f8f9fa; /* Fondo claro para destacar estas secciones */
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    border: 1px solid #dee2e6; /* Añadir borde suave */
}

.exercise__io h3, .metadata h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #495057;
    margin-bottom: 0.75rem;
}

.exercise__io p, .metadata p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.section__title {
    display: flex;
    justify-content: space-between;
    background-color: #313744;
    border-radius:  8px 8px 0 0;
    color: white;
    padding: 0.8rem 1rem;
}

.languages__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282a36;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #454c52;
}

.submit__buttons {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    background-color: #282a36;
    border-radius: 0 0 8px 8px;
}

#language-select {
    background-color: #282a36;
    color: white;
    border: none;
    border-radius: 5px;
}

#language-select:hover {
    background-color: #383b4b;
    cursor: pointer;
}

#language-select option {
    background-color: #282a36;
    color: white;
}

#run-button {
    background-color: #434f5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

#run-button:hover {
    background-color: #343a40;
}

#submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

#submit-button:hover {
    background-color: #218838;
}

.CodeMirror-vscrollbar {
    scrollbar-color: #fff #282a36;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        overflow: auto;
    }

    .aside__container {
        width: 100%;
        padding: 1rem;
    }

    .explainer {
        overflow-y: hidden;
    }

    .code__editor {
        padding: 1rem;
    }

    .output__line {
        overflow-wrap: break-word;
    }
}