* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
}

header {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex: 1; /* Takes the remaining space */
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.aside__container {
    display: flex;
    width: 300px; 
    padding: 1rem 0.5rem 1rem 1rem;
    height: 100%;
}

.explainer__container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 100%;
    flex: 1;
}

.explainer {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

.explainer__footer {
    height: 1rem;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
}

.code__editor {
    flex: 1; /* Takes the remaining width */
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 0.5rem;
    gap: 1rem;
}

.solution {
    flex: 1; /* Takes remaining space above output area */
}

.code-editor {
    height: 100%;
}

.editor {
    border-radius: 8px;
    padding: 1rem;
}

.output__area {
    background-color: #f4f4f4;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.output__message {
    white-space: pre-wrap; /* Preserves whitespace and line breaks */
    padding: 1rem;
}

.output__line {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.output__success {
    color: #28a745;
}

.output__failure {
    color: #dc3545;
}

.exercise__number {
    font-size: 1.1rem;
    color: #6c757d; /* Color secundario */
    margin-bottom: 0.2rem;
    font-weight: 600; /* Ligera negrita */
}

.exercise__title {
    font-size: 2rem; /* Tamaño de fuente mayor */
    font-weight: bold;
    color: #343a40; /* Color oscuro */
    margin-bottom: 1.5rem;
}

.exercise__description {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.exercise__io, .metadata {
    background-color: #f8f9fa; /* Fondo claro para destacar estas secciones */
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    border: 1px solid #dee2e6; /* Añadir borde suave */
}

.exercise__io h3, .metadata h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #495057;
    margin-bottom: 0.75rem;
}

.exercise__io p, .metadata p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.section__title {
    background-color: #313744;
    border-radius:  8px 8px 0 0;
    color: white;
    padding: 0.8rem;
}

.languages__select {
    background-color: #282a36;
    padding: 0.5rem;
    border-bottom: 1px solid #454c52;
}

.submit__buttons {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    background-color: #282a36;
    border-radius: 0 0 8px 8px;
}

#language-select {
    background-color: #282a36;
    color: white;
    border: none;
    padding: 0.3rem;
    border-radius: 5px;
}

#language-select:hover {
    background-color: #383b4b;
    cursor: pointer;
}

#language-select option {
    background-color: #282a36;
    color: white;
}

#run-button {
    background-color: #434f5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

#run-button:hover {
    background-color: #343a40;
}

#submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

#submit-button:hover {
    background-color: #218838;
}