<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LeetCode{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/dracula.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/clike/clike.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>LeetCode Clone</h1>
        </header>

        <main>
            <aside class="aside__container">
                <div class="explainer__container">
                    <div class="section__title">
                        <p>Descripción</p>
                    </div>

                    <div class="explainer">
                        {% block explainer %}
                        <h1>Descripción del ejercicio</h1>
                        <p>Aquí va la descripción del ejercicio.</p>
                        {% endblock %}
                    </div>

                    <div class="explainer__footer"></div>
                </div>
            </aside>

            <section class="code__editor">
                <div class="exercise__content">

                    <div class="section__title">
                        <p>Code</p>
                    </div>

                    <div class="languages__select">
                        <select id="language-select">
                            <option value="python">Python</option>
                            <option value="java">Java</option>
                        </select>
                    </div>


                    <textarea id="editor" placeholder="Escribe tu código aquí...">
                        <pre>
                            <code id="code">
        
                            </code>
                        </pre>
                    </textarea>

                    <div class="submit__buttons">
                        <button id="run-button">Ejecutar Código</button>
                        <button id="submit-button">Enviar Código</button>
                    </div>
                </div>

                <div class="output__area">
                    <div class="section__title">
                        <p>Test result</p>
                    </div>
                    <pre class="output__message">
                    <!-- Output will be displayed here -->
                    </pre>
                </div>
            </section>
        </main>
    </div>

    <script>
        // Load the initial code from the editor according to the problem and the selected language
        const initial_codes = {
            python: `{{ problem.get_initial_python_code() | safe }}`,
            java: `{{ problem.get_initial_java_code() | safe }}`
        };
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>