{% extends "base.html" %}

{% block title %}
Ejercicio 1 - LeetCode
{% endblock %}

{% block explainer %}
<section class="exercise__content">
    <h2 class="exercise__number" id="exercise-number" data-exercise="1">Ejercicio 1</h2>
    <h1 class="exercise__title">Determinar si un número es primo</h1>
    <article class="exercise__description">
        <p>Un número primo es un número natural que solo es divisible por 1 y por sí mismo.</p>
        <p><strong>Ejemplo:</strong> 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, etc.</p>
        <p>Escriba una función que determine si un número es primo o no. La función debe devolver <code>True</code> o
            <code>False</code>. para cada caso de prueba.
        </p>
        <br>
        <p><strong>Input:</strong> {{ problem.get_test_list() }}</p>
        <p><strong>Output:</strong> {{ problem.get_expected_output() }}</p>
        <br>
    </article>

    <article class="metadata">
        <h3>Restricciones:</h3>
        <p><b>¿Se permite recursividad?</b> {{ 'Si' if problem.get_metadata().allow_recursion else 'No' }}</p>
        <p><b>Palabras clave no permitidas:</b> {{ ', '.join(problem.get_metadata().disallowed_keywords) }}</p>
    </article>
    <br>
    <a href="{{ url_for('exercise', exercise_id=2) }}" class="exercise__button">Siguiente ejercicio</a>
</section>
{% endblock %}
