{% extends "base.html" %}

{% block title %}
Ejercicio 3 - LeetCode
{% endblock %}

{% block explainer %}
<section class="exercise__content">
    <h2 class="exercise__number" id="exercise-number" data-exercise="3">Ejercicio 3</h2>
    <h1 class="exercise__title">Buscar Números en arreglos</h1>
    <article class="exercise__description">
        <p>En este ejercicio, tendras que hacer una busqueda binaria la cual debe buscar un numero en un arreglo.</p>
        <p>Tu tarea es implementar una función dentro de la clase que realice dos operaciones:</p>
        <ul>
            <li>Con busqueda binaria debe recorrer el arreglo y buscar un número que ya esté presente en el arreglo.</li>
        </ul>
        <br>
        <p><strong>Input:</strong>
        <br>Arreglo: {{ problem.get_test_list() }}</p>
        <p>Numeros a buscar: {{ problem.get_target() }}</p>
        <p><strong>Output:</strong> {{ problem.get_expected_output() }}</p>
    </article>
    <br>
    <article class="metadata">
        <h3>Restricciones:</h3>
        <p><b>¿Se permite recursividad?</b> {{ 'Si' if problem.get_metadata().allow_recursion else 'No' }}</p>
        <p><b>Palabras clave no permitidas:</b> {{ ', '.join(problem.get_metadata().disallowed_keywords) }}</p>
    </article>
    <br>
</section>
{% endblock %}